<div class="oak-nav">
  <div class="oak-nav-wrapper">
    <nav class="oak-primary-nav">

      <ol>
        <li class="adev-nav-item" *ngFor="let item of primaryNavigation">
          @if (item.type === 'link') {
            <a [href]="item.url">{{ item.label }}</a>
          } @else {
            <button type="button">{{ item.label }}</button>
          }
        </li>
      </ol>

      <div class="oak-nav-bottom">
        <div class="adev-nav-item">
          <button (click)="toggleDarkMode(!darkModeActive)">{{darkModeActive ? 'To Light Mode' : 'To Dark Mode'}}</button>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="oak-secondary-nav">
  <div class="oak-secondary-nav-wrapper">
    <div class="nav-spacer">
      <input [formControl]="filter" />
    </div>
    <ol>
      @for (pokemon of pokemonStore.filteredPokemon(); track pokemon.name) {
        <li>
          <a [routerLink]="['/pokemon', pokemon.name]">
            {{ pokemon.name }}
          </a>
        </li>
      }
    </ol>
  </div>
</div>

<main>
  <router-outlet />
</main>
